<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import { gradePoint, grades, credits } from "../utils";
    import type { Subject } from "../interfaces";

    const dispatch = createEventDispatcher();
    export let semId;
    export let semResult: Subject[];
    $: gpa = calculateGpa(semResult);

    const calculateGpa = (result: Subject[]) => {
        let sumOfCreditsTimesGradePoints = 0;
        let sumOfCredits = 0;
        for (const { grade, credit } of result) {
            sumOfCredits += +credit;
            sumOfCreditsTimesGradePoints +=
                (gradePoint.get(grade) ?? 10) * +credit;
        }
        return sumOfCreditsTimesGradePoints / sumOfCredits;
    };
    const handleNameChange = (value: string, subId: number) => {
        semResult[subId].name = value;
        dispatch("handleChange", { semId, semResult });
    };

    const handleGradeChange = (value: string, subId: number) => {
        semResult[subId].grade = value;
        dispatch("handleChange", { semId, semResult });
    };

    const handleCreditChange = (value: string, subId: number) => {
        semResult[subId].credit = +value;
        dispatch("handleChange", { semId, semResult });
    };

    const addNewSubject = () => {
        semResult.push({ name: undefined, grade: "O", credit: 3 });
        dispatch("handleChange", { semId, semResult });
    };

    const deleteSubject = (subId: number) => {
        semResult.splice(subId, 1);
        dispatch("handleChange", { semId, semResult });
    };
    const deleteSem = () => {
        dispatch("deleteSem", { semId });
    };
</script>

<section>
    <div>
        <p>Semester {semId + 1}: GPA {gpa}</p>
        <div>
            <button on:click={addNewSubject}>Add new Subject</button>
            <button on:click={deleteSem}>Delete Semester</button>
        </div>
    </div>
    {#each semResult as subject, subId}
        <div>
            <input
                type="text"
                value={subject.name !== undefined
                    ? subject.name
                    : `Subject ${subId + 1}`}
                on:input={(e) => {
                    handleNameChange(e.currentTarget.value, subId);
                }}
            />
            <select
                name="grades"
                id="grades"
                value={subject.grade}
                on:input={(e) => {
                    handleGradeChange(e.currentTarget.value, subId);
                }}
            >
                {#each grades as grade}
                    <option value={grade}>{grade}</option>
                {/each}
            </select>
            <select
                name="credits"
                id="credits"
                value={subject.credit}
                on:input={(e) => {
                    handleCreditChange(e.currentTarget.value, subId);
                }}
            >
                {#each credits as credit}
                    <option value={credit}>{credit}</option>
                {/each}
            </select>
            <button
                on:click={() => {
                    deleteSubject(subId);
                }}
            >
                Delete
            </button>
        </div>
    {/each}
</section>

<style></style>
