<script lang="ts">
    import { onMount } from "svelte";

    import Sem from "./components/Sem.svelte";
    import type { Subject } from "./interfaces";
    import { gradePoint } from "./utils";
    let semResults: Subject[][] = [
        [
            {
                name: undefined,
                grade: "O",
                credit: 3,
            },
        ],
    ];
    $: cgpa = calculateCgpa(semResults);
    const calculateCgpa = (results: Subject[][]) => {
        let cumulativeSumOfCreditsTimesGradePoints = 0;
        let cumulativeSumOfCredits = 0;
        for (const semResult of results) {
            for (const { grade, credit } of semResult) {
                cumulativeSumOfCredits += +credit;
                cumulativeSumOfCreditsTimesGradePoints +=
                    (gradePoint.get(grade) ?? 10) * +credit;
            }
        }
        return cumulativeSumOfCreditsTimesGradePoints / cumulativeSumOfCredits;
    };
    const addSem = () => {
        semResults = [
            ...semResults,
            [{ name: undefined, grade: "O", credit: 3 }],
        ];
        updateLocalStorage();
    };
    const deleteSem = (e) => {
        semResults.splice(e.detail.semId, 1);
        semResults = [...semResults];
        updateLocalStorage();
    };
    const handleChange = (e) => {
        const { semId, semResult } = e.detail;
        if (semResult.length === 0) {
            semResults.splice(semId, 1);
        } else {
            semResults.splice(semId, 1, [...semResult]);
        }
        semResults = [...semResults];
        updateLocalStorage();
    };
    const updateLocalStorage = () => {
        if (window) {
            localStorage.setItem("results", JSON.stringify(semResults));
        }
    };
    //Get results from localstorage on mount if available
    onMount(() => {
        if (window) {
            const results = localStorage.getItem("results");
            if (results) {
                semResults = JSON.parse(results);
            }
        }
    });
</script>

<main>
    <div>
        <header class="header" />
        <main>
            <div>
                <p>CGPA: {cgpa}</p>
                {#each semResults as semResult, semId}
                    <Sem
                        {semId}
                        {semResult}
                        on:deleteSem={deleteSem}
                        on:handleChange={handleChange}
                    />
                {/each}
                <button on:click={addSem}>addSem</button>
            </div>
        </main>
        <footer class="footer" />
    </div>
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 70rem;
        margin: 0 auto;
    }
</style>
